#button,
body,
form {
  border: none;
}

body {
  background: url(images/background.png) center center no-repeat fixed #fff;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif !important;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
}

a {
  color: #f0f0f0;
}

#wrapper {
  border-top: none;
  margin-top: 0;
  padding: 0;
  background: 0 0;
  box-shadow: none;
}

header {
  text-align: center;
  color: #fff;
}

header h1 {
  text-shadow: 1px 1px 5px #333;
}

header h1 span {
  display: block;
  font-size: 1.4rem;
}

header img {
  max-width: 200px;
}

footer {
  padding: 1rem 0;
  color: #fff;
}

footer img {
  max-width: 100px;
}

footer .terms {
  padding-top: 1rem;
}

#inner {
  background: transparent;
  padding-top: 0;
  width: 350px;
  max-width: 350px;
  text-align: center;
  color: #fff;
}

#label {
  text-shadow: none;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

#button {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  text-shadow: none;
  font-size: 23px;
  line-height: 1.8;
  color: #fff;
  background: #001348;
  border-radius: 3px;
  box-shadow: none;
  height: 53px;
  border: none;
  display: block;
}

button[type='submit'] {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  left: 305px;
  color: #fff;
  background: #001348;
  border: none;
  top: 0;
}

#button:hover,
button[type='submit']:hover {
  cursor: pointer;
  background: #003279;
  border: 2px solid #fff;
  color: #fff;
}

#padname {
  height: 38px;
  max-width: 350px;
  padding: 0 12px;
  position: relative;
}
